@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    background-color: rgb(50, 50, 50);
    color: blanchedalmond;
    font-family: Roboto;
}
#naranja{
    background-color: rgb(255, 157, 65);
    color:  rgb(50, 50, 50);
    margin-bottom: 32px;
    padding: 32px;
}
#verde{
    background-color: rgb(65, 255, 109);
    color:  rgb(50, 50, 50);
    padding: 24px;
}