@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Raleway;
    font-weight: 300;
    color: #707070;
}
/* globales */
a{
    text-decoration: none; /* quitar subrayado */
    color: #707070;
    font-weight: 600;
}
h2{
    font-size: 32px;
    color: #FFB968;
    font-weight: 600; 
}

header{
    width: 1100px;
    height: 90px;
    margin: auto; /* centrado de header */
    display: flex;
    justify-content: space-between; /* separa elementos */
    align-items: center; /* centra en vertical */
}
header a img{
    width: 60px;
    vertical-align: middle;
    margin-right: 16px;
}

header nav a{
    padding: 12px;
}
header nav a:hover{
    color: #F3BB75;
}

/*###  hero-banner  ###*/
#hero-banner{
    height: 500px;
    background-image: url(../imgs/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
}
    #hero-banner div{
        width: 1100px;
        margin: auto;
        /* centrado vertical usando flex */
        /* display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center; */
    }
        h1{
            font-size: 40px;
            font-weight: 600;
            color: #FFB968;    
            padding-top: 140px;
            margin-bottom: 24px;
        }
        #hero-banner div p{
            width: 400px;
        }
/*###  main  ###*/
main{
    width: 1100px;
    margin: auto;
}

/*###  separador  ###*/
    #separador{
        padding: 98px;
        text-align: center;
    }
        #separador h2{
            margin-bottom: 20px;
        }
        #separador p{
            width: 600px;
            margin: auto;
        }

/*###  sección promos  ###*/

#promos{
    display: flex;
    flex-wrap: wrap; /* respeta los anchos de las cajas contenidos */

    color: #fff;
}
    #promos h3{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    #promo-1{
        width: 550px;
        height: 550px;
        background-color: #807871;
        /* separación interna */
        padding: 100px 80px;
    }

    #promo-2{
        width: 550px;
        height: 550px;
        background-color: #E3B684;
        /* separación interna */
        padding: 100px 80px;
    }

/*###  separador2  ###*/
    #separador2{
        height: 200px;
        display: flex;
        align-items: center; /* contenido centrado en vertical */
        justify-content: center; /* contenido centrado en horizontal */
    }

/*###  sección Historia  ###*/
    #historia{
        display: flex;
        justify-content: space-between;
    }    

    #historia article{
        width: 339px;
        background-color: #807871;
        color: #fff;
    }

        #historia article img{
            width: 339px;
            height: 301px;
        }
        #historia article h3{
            padding: 16px 32px;
        }
        #historia article p{
            padding: 0px 32px 32px 32px;
        }

    #hero-contacto{
        background-image: url(../imgs/hero-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center -120px;

        height: 580px;

        margin: 80px 0px;
        padding-top: 60px;
    }

    #hero-contacto form{
        width: 698px;
        margin: auto;
        padding: 32px;
        background-color: #fff;
        border-radius: 12px; /* esquinas redondeadas */
    }

    #hero-contacto form label{
        display: block; /* porque son de línea */
        margin-bottom: 16px;
    }

    #hero-contacto form input,
    #hero-contacto form textarea{
        width: 100%;
        margin-top: 8px;
        border: 1px solid #CECECE;
        border-radius: 8px;
        padding: 8px;
        font-family: Raleway;
        color: #707070;
        font-weight: 600; 
    }

    #hero-contacto form textarea{
        height: 90px;
        resize: none;
    }

    #hero-contacto form div{
        display: flex;
        justify-content: end;
    }

    #hero-contacto form button{
        width: 300px;
        padding: 8px;
        border: 1px solid #FA9E30;
        border-radius: 8px;
        background-color: #F7BB74;
        /* sombra: box-shadow */
        box-shadow: -8px 8px 8px #ccc;

        /* manito en el mouse */
        cursor: pointer;

        transition: 300ms;
    }
    #hero-contacto form button:hover{
        background-color: #f8b15b;
        box-shadow: -8px 8px 8px #ccc;
    }

/* Footer  */
footer{
    background-color: #807871;
}

    #contenido-footer{
        height: 160px; /* <- */
        width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    #contenido-footer div img{
        width: 32px;
        margin-right: 12px;
    }

    #contenido-footer nav{
        display: flex;
    }
        #contenido-footer nav ul{
            list-style-type: none;
            margin-left: 60px;
        }

        .destacado{
            font-weight: 600;
            margin-bottom: 10px;
        }